/* Variables */
:root {
  --dark: black;
  --light: #f0ffff;

  --light-text-color: var(--dark);
  --light-background-color: var(--light);

  --text-color: var(--light);
  --background-color: var(--dark);

  --font-family: 'SourceSansPro',Palatino,Helvetica;
  --font-size-base: 18px;

  --base-padding: 5px;
  --depth: 0;
}

/* Font related */
@font-face {
  font-family:"SourceSansPro";
  src: url("fonts/SourceSansPro-Light.ttf") format("truetype");
}

/* Standard elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: 1.5;
  padding: var(--base-padding);
}

a {
  color: var(--text-color);
}

footer img {
  border-radius: 5px;
  padding: 10px;
  width: 32px;
  height: 32px;
  background-color: var(--dark);
}

img {
  max-width: calc(100% - (var(--base-padding) / 2));
}

details {
  padding-left: calc( 10px * var(--depth) - (5px * (var(--depth) - 2)))
}

details ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

blockquote {
	border-image: url(img/rainbow.png) 30;
  border-image-width: 2px;
  margin: 0.5em 20px;
  padding: 1.505em 30px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

*:focus {
  outline: none;
}

/* Classes */

.hidden {
  display: none;
}

.light {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.light a {
  color: var(--light-text-color);
}

.content a {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: bold;
  text-decoration: none;
}

.content a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: 8px 0px;
  padding: 1px
}

.timestamp {
  font-size: calc(var(--font-size-base) - 2px);
}

.top {
  display: absolute;
  max-width: 80ch;
  margin: auto;
  padding-top: 10px;

}

#directory {
  position: relative;
  float: right;
  right: 10px;
  top: 30px;
  min-width: 18ch;
  max-width: 45ch;
}

#directory-content > details[open] {
  border-color: var(--text-color);
  border-style: solid;
  border-width: 2px;
}

#directory-content {
  position: relative;
  bottom: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-top: 5px;
  font-size: calc(var(--font-size) - 2px);
  max-width: inherit;
  min-width: inherit;
}

.light #directory-content {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
  border-color: var(--light-text-color);
}

#main {
  display: block;
  max-width: 80ch;
  margin: auto;
  padding-top: 10px;
}

#rainbow {
  display: block;
  height: 35px;
  overflow: hidden;
}

/* Snowflakes */

#metasyn-icon {
  width: 100px;
  position: block;
}

/* Light/Dark mode */

#light-mode {
  float: right;
  margin-top: 30px;
  right: 10px;
}

#light-mode img {
  height: 32px;
  width: 32px;
}

#light-mode:hover {
  cursor: pointer;
}


#summary {
  text-align: end ;
}
