/* Variables */
:root {
  --dark: black;
  --light: #f0ffff;

  --light-text-color: var(--dark);
  --light-background-color: var(--light);

  --text-color: var(--light);
  --background-color: var(--dark);

  --font-family: 'SourceSansPro',Palatino,Helvetica;
  --font-size-base: 18px;
}

/* Font related */
@font-face {
  font-family:"SourceSansPro";
  src: url("fonts/SourceSansPro-Light.ttf") format("truetype");
}

/* Standard elements */
body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  max-width: 80ch;
  padding: 2ch;
}

a {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}


footer > a > img {
  border-radius: 5px;
  padding: 10px;
  width: 32px;
  height: 32px;
  background-color: var(--background-color);
}


/* Classes */

.hidden {
  display: none;
}

.light {
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}


/* Snowflakes */

#metasyn-icon {
  width: 100px;
  position: block;
}

/* Light/Dark mode */

#light-mode {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

#light-mode > img {
  height: 32px;
  width: 32px;
}

#light-mode:hover {
  cursor: pointer;
}
