<!DOCTYPE html>
<html>
  <head>
    <title>metasyn</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='resources/styles.css' rel='stylesheet' type='text/css' />
    <link rel='alternate' type='application/rss+xml' title='RSS' href='rss.xml' />
    <script async src='resources/js/main.js' type='text/javascript' ></script>
  </head>
  <body>
    <div class='top'>
      <a href='index.html'><img alt='metasyn-icon' id='metasyn-icon' src='resources/img/metasyn.png' /></a>
      <!-- These float right -->
      <div id='light-mode'>
        <img id='sun' alt='sun' src='resources/img/sun.png'/>
        <img id='moon' class='hidden' alt='moon' src='resources/img/moon.png'/>
      </div>
      <!-- These float right -->
      <div id='directory'>
        <div id='directory-content' class='content'>
          {{ directory }}
        </div>
      </div>
      <div id='rainbow'>
        <div>
          <img alt='pastel rainbow stripes' src='resources/img/rainbow.png' />
        </div>
      </div>
    </div>
    <div id='main'>
      <div id='toc'>
        <div>
          {{ toc }}
        </div>
      </div>
      <div class='content'>
        {{ content }}
        <hr/>
        <div class='references'>
          {{ references }}
        </div>
        <div class='timestamp'>
          {{ timestamp }}
        </div>
      </div>
      <footer>
        <a href='https://git.sr.ht/~metasyn/memex'><svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z"></path></svg></a>
        <a href='https://github.com/metasyn'><img alt='github octocat icon' src='resources/img/github.png' /></a>
        <a href='https://merveilles.town/@metasyn'><img alt='mervilles.town logo' src='resources/img/merveilles.town.png' /></a>
        <a href='https://metasyn.bandcamp.com'><img alt='bandcamp' src='resources/img/bandcamp.png' /></a>
        <a href='rss.xml'><img alt='rss' src='resources/img/rss.png' /></a>
        <a href='https://webring.xxiivv.com/#random' target='_blank'><img alt='webring' src='https://webring.xxiivv.com/icon.white.svg'/></a>
      </footer>
    </div>
  </body>
</html>
